# LOG
logging.level.org.springframework=INFO
logging.level.rm.tabou2=DEBUG


## Path du serveur
server.servlet.context-path=/v1

## Base de données
spring.jpa.properties.javax.persistence.schema-generation.create-source=metadata
spring.jpa.properties.javax.persistence.schema-generation.scripts.action=create
spring.jpa.properties.javax.persistence.schema-generation.scripts.create-target=create.sql

#Hibernate
spring.jpa.properties.hibernate.current_session_context_class=org.springframework.orm.hibernate5.SpringSessionContext


# Base de données habitat
spring.ddc.datasource.jdbc-url=jdbc:postgresql://{{ddc_db_host}}:{{ddc_db_port}}/{{ddc_db_name}}
spring.ddc.datasource.username={{ddc_db_user}}
spring.ddc.datasource.password={{ddc_db_password}}
spring.ddc.datasource.driver-class-name=org.postgresql.Driver

spring.ddc.datasource.hibernate.show_sql=true
spring.ddc.datasource.hibernate.format_sql=false
spring.ddc.datasource.hibernate.hbm2ddl.auto=validate

## Base de données Tabou2
spring.tabou2.datasource.jdbc-url=jdbc:postgresql://{{tabou2_db_host}}:{{tabou2_db_port}}/{{tabou2_db_name}}
spring.tabou2.datasource.username={{tabou2_db_user}}
spring.tabou2.datasource.password={{tabou2_db_password}}
spring.tabou2.datasource.driver-class-name=org.postgresql.Driver

spring.tabou2.datasource.hibernate.show_sql=true
spring.tabou2.datasource.hibernate.format_sql=false
spring.tabou2.datasource.hibernate.hbm2ddl.auto=validate
spring.tabou2.datasource.hibernate.hbm2ddl.extra_physical_table_types=FOREIGN TABLE

## Base de données SIG de Rennes Metropole
spring.sig.datasource.jdbc-url=jdbc:postgresql://{{sig_db_host}}:{{sig_db_port}}/{{sig_db_name}}
spring.sig.datasource.username={{sig_db_user}}
spring.sig.datasource.password={{sig_db_user}}
spring.sig.datasource.driver-class-name=org.postgresql.Driver

spring.sig.datasource.hibernate.show_sql=true
spring.sig.datasource.hibernate.format_sql=false
spring.sig.datasource.hibernate.hbm2ddl.auto=validate
spring.sig.datasource.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

## Roles de l'application
role.consultation=ROLE_EL_APPLIS_TABOU_CONSULT
role.contributeur=ROLE_EL_APPLIS_TABOU_CONTRIB
role.referent=ROLE_EL_APPLIS_TABOU_REFERENT
role.administrateur=ROLE_MAPSTORE_ADMIN

## Configuration de l'application
pagination.default.max.results = 100

#Authentification alfresco
alfresco.authenticate.user=admin
alfresco.authenticate.password=admin
alfresco.base.url=http://10.50.1.21:8080/alfresco/api/-default-/public/
alfresco.tabou.folder.node.id=7d2d4954-83b0-4826-9f1b-5df5cc497f63








